<!DOCTYPE html>
<html lang="en">
<head>

	<link rel="stylesheet" href="/style.css">
	<meta charset="utf-8" />
	<title>Product List</title>
</head>

<body class="page_head">
	<a href="/products">Back to Home</a>
	<h1>What Can We Stock For You?</h1>
	<div class="new_form">
	<form action="/products" method="POST">
		<label>Name: <input type="text" name="name" /></label><br />
		<label>Description: <input type="text" name="description" /></label><br />
		<label>Image: <input type="text" name="img" placeholder="url please" /></label><br />
		<label>Price: <input type="number" name="price" /></label><br />
		<label>Quantity: <input type="number" name="qty" /></label><br />
		<input class="delete"type="submit" name="" value="Add Product" />
	</form>
	</div>
</body>
</body>

</html>